header{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    color:#4A148C;
}

body{
    background-color: #F3E5F5;
}


header a {
    text-decoration: none;
}

#icon{
    width:30px;
    height:30px;
}

@media only screen and (min-width: 992px) {
    #nav-info{
        width:30%;
    }
    
    #nav-content > div{
        width:100%;
    }
}